a.map-remove {
    color: var(--delete-color);
}

#map_canvas {
    height: 600px;
    border: 1px solid var(--msg-info-border);
    border-top: none;
    margin-bottom: 0.4em;
}

#infowindow_icons {
    min-width: 200px;
}

#infowindow_icons #custom_icons_list {
    max-height: 100px;
    overflow: auto;
    border: 1px solid var(--tabs-border);
    padding: 5px;
    margin-bottom: 10px;
}

#infowindow_icons #default_icons_list img {
    max-height: 100px;
    overflow: auto;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
}

gmp-advanced-marker img[src$=".svg"] {
    width: 40px;
    height: 40px;
}

#infowindow_polyline {
    min-width: 150px;
}

#infowindow_polygon,
#infowindow_rectangle,
#infowindow_circle {
    min-width: 300px;
}

#infowindow_directions {
    min-width: 600px;
}

#infowindow_kml li:hover,
#infowindow_kml li:focus {
    background-color: var(--tabs-border);
}

.gm-iw {
    min-width: 150px;
}

/* Map Toolbar */

.map_toolbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .5em;
    border: 1px solid var(--msg-info-border);
    overflow: inherit;
    position: relative;
    /*! line-height: 30px; */
    clear: left;
}

.map_toolbar button {
    border: none;
    background: var(--body-background)
}

.map_toolbar span.search {
    height: 2.3em;
    padding: 0;
    margin: auto 0;
}

.map_toolbar input {
    vertical-align: top;
    margin: 0.05em 0 0 0;
    height: 2.35em;
}

.map_toolbar .qx {
    border-bottom-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    background: var(--body-background) url(index.php?pf=myGmaps/css/img/search.svg) no-repeat 1px center !important;
    text-indent: 2em;
    padding: 0;
    border: 1px solid var(--tabs-border);
}

.map_toolbar .qx:focus {
    border: 1px solid var(--input-focus);
}

#credit-control {
    background: var(--body-background);
    opacity: 0.7;
    padding: 0 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    white-space: nowrap;
}

#credit-control a {
    color: var(--button-color);
}

.element-remove img {
    vertical-align: middle;
    width: 1.2em;
}

#post-gmap {
    display: block;
}

#post-gmap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#post-gmap li {
    width: 50%;
    display: inline-block;
}

#post-gmap li.right {
    text-align: right;
}

.elements-list {
    font-weight: bold;
}

.form-note.mapinfo {
    margin-top: 0;
    width: 100%
}

gmp-place-autocomplete {
    display: inline-block;
    width: 35em;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    height: 3.8em;
    padding: .2em;
    margin: .2em 0 0 0;
}