#options-box, .s-tags, .s-featuredmedia, .s-attachments, #excerpt-area button.details-cmd {
    display: none;
}

#excerpt-area label {
    margin-bottom: -1em
}

gmp-place-autocomplete {
    display: inline-block;
    width: 35em;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    height: 3.3em;
    padding: .2em;
    margin: 0.45em .2em 0 0;
}