a.map-remove {
  color: var(--delete-color);
}

#map_canvas {
  height: 600px;
  border: 1px solid var(--msg-info-border);
  border-top: none;
  margin-bottom: .4em
}

#infowindow_icons {
  min-width: 200px
}

#infowindow_icons #custom_icons_list {
  max-height: 100px;
  overflow: auto;
  border: 1px solid var(--tabs-border);
  padding: 5px;
  margin-bottom: 10px
}

#infowindow_icons #default_icons_list img {
  max-height: 100px;
  overflow: auto;
  border: none;
  padding: 5px;
  margin-bottom: 10px
}

#infowindow_polyline {
  min-width: 150px
}

#infowindow_polygon,
#infowindow_rectangle,
#infowindow_circle {
  min-width: 300px
}

#infowindow_directions {
  min-width: 600px
}

#infowindow_kml li:hover,
#infowindow_kml li:focus {
  background-color: var(--tabs-border);
}

.gm-iw {
  min-width: 150px
}

gmp-advanced-marker img[src$=".svg"], #infowindow_icons img[src$=".svg"] {
  width: 40px;
  height: 40px;
}

/* Map Toolbar */

.map_toolbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2em .5em;
  border: 1px solid var(--msg-info-border);
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  position: relative;
  line-height: 30px;
}

.map_toolbar button {
  border: none;
  background: var(--body-background)
}

.map_toolbar span.search {
  margin-top: .3em
}

.map_toolbar select,
.map_toolbar button {
  vertical-align: middle;
}

.map_toolbar select {
  width: 12em;
  margin-right: .6rem;
  border: 1px solid #ddd;
}

.map_toolbar button {
  width: 40px;
  height: 40px;
  margin-left: 2px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.map_toolbar button.active {
  border: 2px solid #8f8f8f;
}

.map_toolbar button span {
  display: none;
}

.map_toolbar span {
  display: inline-block;
  vertical-align: middle;
}

span.map_spacer {
  width: 8px;
}

.map_toolbar input {
  vertical-align: top;
  margin: 0.05em 0 0 0;
  height: 2.35em
}

.map_toolbar button {
  background-size: 80%;
}

button.add_marker,
button.add_marker.inactive {
  background-image: url(index.php?pf=myGmaps/css/img/marker-bw.svg);
}

button.add_polyline,
button.add_polyline.inactive {
  background-image: url(index.php?pf=myGmaps/css/img/polyline-bw.svg);
}

button.add_polygon,
button.add_polygon.inactive {
  background-image: url(index.php?pf=myGmaps/css/img/polygon-bw.svg);
}

button.add_rectangle,
button.add_rectangle.inactive {
  background-image: url(index.php?pf=myGmaps/css/img/rectangle-bw.svg);
}

button.add_circle,
button.add_circle.inactive {
  background-image: url(index.php?pf=myGmaps/css/img/circle-bw.svg);
}

button.add_kml,
button.add_kml.inactive {
  background-image: url(index.php?pf=myGmaps/css/img/kml-bw.svg);
}

button.add_georss,
button.add_georss.inactive {
  background-image: url(index.php?pf=myGmaps/css/img/feed-bw.svg);
}

button.add_directions,
button.add_directions.inactive {
  background-image: url(index.php?pf=myGmaps/css/img/directions-bw.svg);
}

button.delete_map {
  background-image: url(index.php?pf=myGmaps/css/img/clean.svg);
  position: absolute;
  right: .5em;
  top: .2em;
  border-color: var(--tabs-border);
}

button.delete_map:disabled {
  opacity: 0.5;
  cursor: inherit
}

@media (prefers-color-scheme: light) {
  button.add_marker.active {
    background-image: url(index.php?pf=myGmaps/css/img/marker.svg);
  }

  button.add_polyline.active {
    background-image: url(index.php?pf=myGmaps/css/img/polyline.svg);
  }

  button.add_polygon.active {
    background-image: url(index.php?pf=myGmaps/css/img/polygon.svg);
  }

  button.add_rectangle.active {
    background-image: url(index.php?pf=myGmaps/css/img/rectangle.svg);
  }

  button.add_circle.active {
    background-image: url(index.php?pf=myGmaps/css/img/circle.svg);
  }

  button.add_kml.active {
    background-image: url(index.php?pf=myGmaps/css/img/kml.svg);
  }

  button.add_georss.active {
    background-image: url(index.php?pf=myGmaps/css/img/feed.svg);
  }

  button.add_directions.active {
    background-image: url(index.php?pf=myGmaps/css/img/directions.svg);
  }
}

@media (prefers-color-scheme: dark) {
  button.add_marker.active {
    background-image: url(index.php?pf=myGmaps/css/img/marker-dark.svg);
  }

  button.add_polyline.active {
    background-image: url(index.php?pf=myGmaps/css/img/polyline-dark.svg);
  }

  button.add_polygon.active {
    background-image: url(index.php?pf=myGmaps/css/img/polygon-dark.svg);
  }

  button.add_rectangle.active {
    background-image: url(index.php?pf=myGmaps/css/img/rectangle-dark.svg);
  }

  button.add_circle.active {
    background-image: url(index.php?pf=myGmaps/css/img/circle-dark.svg);
  }

  button.add_kml.active {
    background-image: url(index.php?pf=myGmaps/css/img/kml-dark.svg);
  }

  button.add_georss.active {
    background-image: url(index.php?pf=myGmaps/css/img/feed-dark.svg);
  }

  button.add_directions.active {
    background-image: url(index.php?pf=myGmaps/css/img/directions-dark.svg);
  }
}

.map_toolbar .qx {
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
  background: var(--body-background) url(index.php?pf=myGmaps/css/img/search.svg) no-repeat 1px center !important;
  text-indent: 2em;
  padding: 0;
  border: 1px solid var(--tabs-border);
}

.map_toolbar .qx:focus {
  border: 1px solid var(--input-focus);
}

#directions_start,
#directions_end {
  background: var(--body-background) url(index.php?pf=myGmaps/css/img/search.png) no-repeat 4px center !important;
  text-indent: 18px;
}

#credit-control {
  background: var(--body-background);
  opacity: 0.7;
  padding: 0 5px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  white-space: nowrap;
}

#credit-control a {
  color: var(--button-color)
}

.add {
  font-size: 1.5rem;
}

p#excerpt {
  display: none;
}

#options-box, .s-tags, .s-featuredmedia, .s-attachments {
  display: none;
}

.element-remove img {
  vertical-align: middle;
  width: 1.2em;
}

.form-note.mapinfo {
  margin-top: 0;
  width: 100%
}

p#map_toolbar_wrapper {
  margin: 0;
  padding: 0;
}