a.map-remove {
  color: #900;
}

#map_canvas {
  height: 600px;
  border: 1px solid #b6b6b6;
  border-top: none;
  margin-bottom: .2em
}

#infowindow_icons {
  min-width: 200px
}

#infowindow_icons #custom_icons_list {
  max-height: 100px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px
}

#infowindow_polyline {
  min-width: 150px
}

#infowindow_polygon,
#infowindow_rectangle,
#infowindow_circle {
  min-width: 300px
}

#infowindow_directions {
  min-width: 600px
}

#infowindow_kml li:hover,
#infowindow_kml li:focus {
  background-color: #ccc;
}

.gm-iw {
  min-width: 150px
}

/* Map Toolbar */

.map_toolbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2em .5em;
  border: 1px solid #b6b6b6;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  position: relative;
  line-height: 30px;
}

.map_toolbar button {
  border: none;
  background: #fff
}

.map_toolbar span.search {
  margin-top: .3em
}

.map_toolbar select,
.map_toolbar button {
  vertical-align: middle;
}

.map_toolbar select {
  width: 12em;
  margin-right: .6rem;
  border: 1px solid #ddd;
}

.map_toolbar button {
  width: 40px;
  height: 40px;
  margin-left: 2px;
  margin-bottom: 2px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.map_toolbar button:hover,
.map_toolbar button:focus {
  border: 1px solid #3a539b;
}

.map_toolbar button.inactive:hover,
.map_toolbar button.inactive:focus {
  border: 1px solid #8f8f8f;
}

.map_toolbar button.active,
.map_toolbar button.active {
  border: 2px solid #8f8f8f;
}

.map_toolbar button span {
  display: none;
}

.map_toolbar span {
  display: inline-block;
  vertical-align: top;
}

span.map_spacer {
  width: 8px;
}

.map_toolbar input {
  vertical-align: top;
  margin: 0.05em 0 0 0;
  height: 2.35em
}

button.add_marker,
button.add_marker.inactive:hover {
  background-image: url(index.php?pf=myGmaps/css/img/marker-bw.svg);
  background-size: 100%;
}

button.add_marker:hover,
button.add_marker.active {
  background-image: url(index.php?pf=myGmaps/css/img/marker.svg);
  background-color: #fff
}

button.add_polyline,
button.add_polyline.inactive:hover {
  background-image: url(index.php?pf=myGmaps/css/img/polyline-bw.svg);
  background-size: 80%;
}

button.add_polyline:hover,
button.add_polyline.active {
  background-image: url(index.php?pf=myGmaps/css/img/polyline.svg);
  background-color: #fff
}

button.add_polygon,
button.add_polygon.inactive:hover {
  background-image: url(index.php?pf=myGmaps/css/img/polygon-bw.svg);
  background-size: 90%;
}

button.add_polygon:hover,
button.add_polygon.active {
  background-image: url(index.php?pf=myGmaps/css/img/polygon.svg);
  background-color: #fff
}

button.add_rectangle,
button.add_rectangle.inactive:hover {
  background-image: url(index.php?pf=myGmaps/css/img/rectangle-bw.svg);
  background-size: 80%;
}

button.add_rectangle:hover,
button.add_rectangle.active {
  background-image: url(index.php?pf=myGmaps/css/img/rectangle.svg);
  background-color: #fff
}

button.add_circle,
button.add_circle.inactive:hover {
  background-image: url(index.php?pf=myGmaps/css/img/circle-bw.svg);
  background-size: 80%;
}

button.add_circle:hover,
button.add_circle.active {
  background-image: url(index.php?pf=myGmaps/css/img/circle.svg);
  background-color: #fff
}

button.add_kml,
button.add_kml.inactive:hover {
  background-image: url(index.php?pf=myGmaps/css/img/kml-bw.svg);
  background-size: 100%;
}

button.add_kml:hover,
button.add_kml.active {
  background-image: url(index.php?pf=myGmaps/css/img/kml.svg);
  background-color: #fff
}

button.add_georss,
button.add_georss.inactive:hover {
  background-image: url(index.php?pf=myGmaps/css/img/feed-bw.svg);
  background-size: 100%;
}

button.add_georss:hover,
button.add_georss.active {
  background-image: url(index.php?pf=myGmaps/css/img/feed.svg);
  background-color: #fff
}

button.add_directions,
button.add_directions.inactive:hover {
  background-image: url(index.php?pf=myGmaps/css/img/directions-bw.svg);
  background-size: 60%;
}

button.add_directions:hover,
button.add_directions.active {
  background-image: url(index.php?pf=myGmaps/css/img/directions.svg);
  background-color: #fff
}

button.delete_map {
  background-image: url(index.php?pf=myGmaps/css/img/clean.svg);
  background-size: 90%;
  position: absolute;
  right: .5em;
  top: .2em;
  border-color: #ccc;
}

.map_toolbar .qx {
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
  background: #fff url(index.php?pf=myGmaps/css/img/search.svg) no-repeat 1px center !important;
  text-indent: 2em;
  padding: 0;
  border: 1px solid #ccc;
}

.map_toolbar .qx:focus {
  border: 1px solid #bee74b;
}

#directions_start,
#directions_end {
  background: #fff url(index.php?pf=myGmaps/css/img/search.png) no-repeat 4px center !important;
  text-indent: 18px;
}

#credit-control {
  background: #E2EAEA;
  opacity: 0.7;
  padding: 0 5px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  white-space: nowrap;
}

#credit-control a {
  color: #000
}

.add {
  font-size: 1.5rem;
}

.s-tags, .s-featuredmedia, .s-attachments {
  display: none;
}